# Environment
.env

# Node-RED
node-red/data/
!node-red/data/.gitkeep

# Logs
logs/*.log
!logs/.gitkeep

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Report
report/*.docx
!report/CapNhatTienDo_*.docx
!report/.gitkeep
